h1 {
    height: 50px;
    width: 200px;
    background-color: aqua;
    text-align: center;
    border-style: dashed;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-radius: 20px;
}

div {
    height: 30px;
    width: 200px;
    background-color: rgb(175, 88, 255);
    /* border-style: solid;
    border-color: rgb(41, 0, 77);
    border-width: 5px; */
    text-align: center;
    border: 5px solid rgb(255, 230, 42);
    border-radius: 10px;
    padding: 25px;
    margin: 100px;
}